@import "../../../sass/variables.scss";

.dot-chart-card {
    
    .card-body{
        display: flex;
        flex-wrap: wrap;
    }
    .card-content{
        max-width: 120px;
    }
    .mixed-chart{
        max-width: calc(100% - 120px);
        width: 100%;
    }

    .card-title {
        label {
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.44px;
            color: $BlueishBlack;
        }
    }
    .chart-price {
        h4 {
            margin: 0;
            color: $BlueishBlack;
            font-weight: 600;
            font-size: 32px;
            // span {
            //     font-weight: 500;
            //     line-height: 20px;
            //     font-size: 14px;
            //     letter-spacing: 0.44px;
            //     display: inline-block;
            //     margin-left: 6px;
            //     font-family: "Montserrat", sans-serif;
            // }
            // .up {
            //     color: $Green;
            // }
            // .down {
            //     color: $Red;
            // }
        }
    }

    // svg {
    //     .apexcharts-series {
    //         path {
    //             fill: $BtnDisabled;
    //             &:hover {
    //                 filter: unset !important;
    //                 -webkit-filter: unset !important;
    //             }
    //         }
    //     }
    //     .apexcharts-xaxis{
    //         opacity: 0;
    //     }
    // }
}