@import "./variables.scss";

.dark-theme {
    background-color: $Black;

    *::-webkit-scrollbar {
        width: 3px;
    }
    *::-webkit-scrollbar-track {
        background: $PurpleBlue;
    }
    *::-webkit-scrollbar-thumb {
        background: $Purple-Dark;
    }
    *::-webkit-scrollbar-thumb:hover {
        background: $Purple-Dark;
    }

    .theme-change-wrapper {
        ul,
        .theme-click-icon {
            background-color: $DarkMapControlBg;
        }
        .theme-click-icon {
            path {
                fill: $white;
            }
        }
        ul {
            li {
                label {
                    color: $white;
                }
            }
        }
    }

    .btn {
        &.primary {
            background-color: $DoryBlue;
            border-color: $DoryBlue;
            &:hover {
                background-color: $DoryBlue-click;
                border-color: $DoryBlue-click;
            }
            &:disabled {
                background-color: $btnDarkDisable;
                border-color: $btnDarkDisable;
                color: $BtnDisabledText;
                path {
                    fill: $BtnDisabledText;
                }
                &:hover {
                    background-color: $btnDarkDisable;
                    border-color: $btnDarkDisable;
                    color: $BtnDisabledText;
                }
            }
        }
        &.outline {
            border-color: $DoryBlue;
            color: $DoryBlue;
            path {
                fill: $DoryBlue;
            }
            &:hover {
                border-color: $DoryBlue-click;
                color: $DoryBlue-click;
                path {
                    fill: $DoryBlue-click;
                }
            }
            &:disabled {
                border-color: $btnDarkDisable;
                color: $BtnDisabledText;
                path {
                    fill: $BtnDisabledText;
                }
                &:hover {
                    border-color: $btnDarkDisable;
                    color: $BtnDisabledText;
                }
            }
        }
    }

    .btn-icon {
        &.primary {
            background-color: $DoryBlue;
            border-color: $DoryBlue;
            &:hover {
                background-color: $DoryBlue-click;
                border-color: $DoryBlue-click;
            }
            &:disabled {
                background-color: $btnDarkDisable;
                border-color: $btnDarkDisable;
                path {
                    fill: $BtnDisabledText;
                }
                &:hover {
                    background-color: $btnDarkDisable;
                    border-color: $btnDarkDisable;
                }
            }
        }
        &.outline {
            border-color: $DoryBlue;
            path {
                fill: $DoryBlue;
            }
            &:hover {
                border-color: $DoryBlue-click;
                path {
                    fill: $DoryBlue-click;
                }
            }
            &:disabled {
                border-color: $btnDarkDisable;
                path {
                    fill: $BtnDisabledText;
                }
                &:hover {
                    border-color: $btnDarkDisable;
                }
            }
        }
    }

    .header,
    .side-bar {
        background-color: $BlueishBlack-Dark;
    }

    .header-menu-wrapper {
        ul {
            li {
                &:hover,
                &.active {
                    a {
                        color: $white;
                        &::before {
                            background-color: $SidebarActive;
                        }
                    }
                }
                a {
                    color: $HeaderMenuActive;
                }
            }
        }
    }

    .header-user-wrapper {
        ul {
            li {
                a {
                    &:hover svg {
                        path {
                            fill: $SidebarActive;
                        }
                    }
                }
            }
        }
    }

    .header-search-wrapper {
        .search-bar {
            input {
                background-color: $Black;
            }
            .header-search-icon {
                path {
                    fill: $PurpleBlue;
                }
            }
        }
    }

    .loading-sec {
        background-color: $DarkLoading;
    }
    .loading-content {
        .img {
            .dark {
                display: block;
            }
            .light {
                display: none;
            }
        }
        .progress-bar-wrapper {
            span {
                color: $white;
            }
        }
    }

    .side-bar-menu {
        ul {
            li {
                &.active,
                &:hover {
                    a {
                        &::before {
                            background-color: $SidebarActive;
                        }
                        path {
                            fill: $SidebarActive;
                        }
                    }
                }
            }
        }
    }

    footer{
        background-color: $BlueishBlack-Dark;
    }

    .loading-sec {
        background-color: $DarkLoading;
    }
    .loading-content {
        .progress-bar-wrapper {
            span {
                color: $white;
            }
        }
    }

    .map-control-wrapper {
        .map-control-item {
            background-color: $DarkMapControlBg;
            box-shadow: 0 10px 80px #9072d569;

            li {
                a {
                    path {
                        fill: $HeaderMenuActive;
                    }
                    &:hover {
                        background-color: $DoryBlue;
                        path {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }

    .map-distance-wrapper {
        ul {
            background-color: $DarkMapControlBg;
        }
        li {
            a {
                color: $white;
            }
            &:hover,
            &.active {
                a {
                    background-color: $DoryBlue;
                }
            }
        }
    }

    .card {
        background-color: $DarkMapControlBg;
    }

    .input-item {
        label {
            color: $BtnDisabledText;
        }

        input {
            background-color: $DarkMapControlBg;
            border-color: $PurpleBlue;
            color: $BtnDisabledText;
            &:hover,
            &:focus {
                border-color: $white
            }
        }
    }
    .login-sec {
        background-color: $Black;
        .bg-pattern {
            opacity: 0.3;
            img {
                filter: invert(1);
                -webkit-filter: invert(1);
            }
        }
    }
    .login-text-content {
        h3{
            color: $white;
        }
    }
    .form-row {
        .forget {
            a {
                color: $BtnDisabledText;
                &:hover {
                    color: $DoryBlue;
                }
            }
        }
    }
}
