@import "./variables.scss";

#{$dark-theme} {
    background-color: $Black;

    *::-webkit-scrollbar {
        width: 3px;
    }
    *::-webkit-scrollbar-track {
        background: $NewESRPBlue;
    }
    *::-webkit-scrollbar-thumb {
        background: $ESRPBlue;
    }
    *::-webkit-scrollbar-thumb:hover {
        background: $ESRPBlue;
    }

    .site-content {
        .site-inner-content {
            background-color: $BodyBgDark;
        }
    }

    .theme-change-wrapper {
        ul,
        .theme-click-icon {
            background-color: $DarkMapControlBg;
        }
        .theme-click-icon {
            path {
                fill: $White;
            }
        }
        ul {
            li {
                label {
                    color: $White;
                }
            }
        }
    }

    .loading-sec {
        background-color: $DarkLoading;
    }
    .loading-content {
        .img {
            .dark {
                display: block;
            }
            .light {
                display: none;
            }
        }
        .progress-bar-wrapper {
            span {
                color: $White;
            }
        }
    }

    .map-control-wrapper {
        .map-control-item {
            background-color: $ESRPDarkBG;
            box-shadow: none;

            li {
                a {
                    background-color: $NewDarkprimary;
                    path {
                        fill: $ESRPBlue;
                    }
                    &:hover {
                        background-color: $ESRPBlue;
                        path {
                            fill: $ESRPDarkBG;
                        }
                    }
                }
            }
        }
    }

    .map-distance-wrapper {
        .label {
            color: $White;
        }
        ul {
            background-color: transparent;
        }
        li {
            a {
                color: $White;
            }
            &:hover,
            &.active {
                a {
                    background-color: $ESRPBlue;
                }
            }
        }
    }

    .breadcrumbs {
        ul {
            a,
            li {
                color: $White;
            }
        }
    }

    .card {
        background-color: $ESRPDarkBG;
        box-shadow: none;

        .card-title {
            label {
                color: $White;
            }
            .sub-text {
                color: $White;
            }
        }
    }

    .page-title,
    .page-title-sub {
        color: $BtnDisabled;
    }

    .indicator-text {
        li {
            .name {
                color: $White;
            }
        }
    }

    svg {
        .apexcharts-yaxis,
        .apexcharts-xaxis {
            text {
                fill: $White;
            }
        }
        .apexcharts-legend-series {
            .apexcharts-legend-text {
                color: $White !important;
            }
        }
    }
    .overlay{
        background-color: $Black;
        &.show{
            opacity: 0.45;
        }
    }
}
