@import "../sass/variables.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-track {
  background: $SeachbarBG;
}
*::-webkit-scrollbar-thumb {
  background: $ESRPBlue;
}
*::-webkit-scrollbar-thumb:hover {
  background: $ESRPBlue;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.44px;
  margin: 0;
  padding: 0;
  background-color: $OffWhite;
}
*:focus {
  outline: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.d-none {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  line-height: normal;
}

h1 {
  font-size: 72px;
  font-weight: 500;
  letter-spacing: -1.75px;
}

h2 {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -1.5px;
}
h3 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.75px;
}
h4 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -0.44px;
}
h5 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0px;
}
h6 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.15px;
}
.title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.44px;
}
.body-2 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.44px;
}
.caption {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.4px;
}
.overline {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -1.5px;
}

.container {
  max-width: 100%;
  padding: 0 15px;
}

.container-fluid {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row > .col {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: $xxl) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: $xl) {
  .container {
    max-width: 1440px;
  }
}

@media screen and (max-width: $lg) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: $md) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: $sm) {
  .container {
    max-width: 375px;
  }
}

.input-item {
  margin-bottom: 20px;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }
  label {
    display: block;
    margin: 0;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: normal;
    color: $HeaderMenuLink;
    margin-bottom: 4px;
  }

  input {
    margin: 0;
    width: 100%;
    display: block;
    padding: 10px 10px;
    border: 1px solid $Pewter;
    border-radius: 5px;
    min-height: 40px;
    background-color: $white;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;

    &:hover,
    &:focus {
      border-color: $ESRPBlue;
    }
  }
}

.btn {
  display: inline-block;
  min-width: 173px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.44px;
  padding: 13px 10px;
  cursor: pointer;
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: #fff;
  border: 2px solid transparent;

  svg {
    vertical-align: middle;
    margin-left: 20px;
    path {
      transition: $transition;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -ms-transition: $transition;
      -o-transition: $transition;
    }
  }

  &.primary {
    background-color: $ESRPBlue;
    color: $white;
    border-color: $ESRPBlue;
    path {
      fill: $white;
    }

    &:hover {
      background-color: $Blue;
      border-color: $Blue;
    }
    &.rounded {
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
    }
    &:disabled {
      background-color: $BtnDisabled;
      color: $BtnDisabledText;
      border-color: $BtnDisabled;
      cursor: not-allowed;

      path {
        fill: $BtnDisabledText;
      }
    }
  }

  &.outline {
    background-color: transparent;
    color: $ESRPBlue;
    border-color: $ESRPBlue;

    path {
      fill: $ESRPBlue;
    }

    &:hover {
      background-color: transparent;
      border-color: $Blue;
      color: $Blue;

      path {
        fill: $Blue;
      }
    }
    &:disabled {
      border-color: $BtnDisabled;
      color: $BtnDisabledText;
      cursor: not-allowed;

      path {
        fill: $BtnDisabledText;
      }
    }
    &.rounded {
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
    }
  }
}

.btn-icon {
  display: inline-block;
  min-width: 54px;
  font-size: 14px;
  padding: 13px 10px;
  cursor: pointer;
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: #fff;
  border: 2px solid transparent;

  svg {
    vertical-align: middle;
    path {
      transition: $transition;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -ms-transition: $transition;
      -o-transition: $transition;
    }
  }

  &.primary {
    background-color: $ESRPBlue;
    color: $white;
    border-color: $ESRPBlue;
    path {
      fill: $white;
    }

    &:hover {
      background-color: $Blue;
      border-color: $Blue;
    }
    &:disabled {
      background-color: $BtnDisabled;
      color: $BtnDisabledText;
      border-color: $BtnDisabled;
      cursor: not-allowed;

      path {
        fill: $BtnDisabledText;
      }
    }
    &.rounded {
      min-width: 46px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
    }
  }
  &.outline {
    background-color: transparent;
    color: $ESRPBlue;
    border-color: $ESRPBlue;

    path {
      fill: $ESRPBlue;
    }

    &:hover {
      background-color: transparent;
      border-color: $Blue;
      color: $Blue;

      path {
        fill: $Blue;
      }
    }
    &:disabled {
      border-color: $BtnDisabled;
      color: $BtnDisabledText;
      cursor: not-allowed;

      path {
        fill: $BtnDisabledText;
      }
    }
    &.rounded {
      min-width: 46px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
    }
  }
}

// SITE CONTENT ***************
.site-content {
  padding-bottom: 38px;
}

// HEADER ***************

.header {
  padding: 10px 60px;
  background-color: $white;
  z-index: 9999;
  position: relative;
  .row {
    align-items: center;
  }
}

.header-logo-wrapper {
  max-width: 340px;
  width: 100%;
  padding: 0;

  a {
    width: 100%;
    height: auto;
    display: block;
    max-width: 140px;

    img {
      width: 100%;
      height: auto;
    }
  }
}
.header-search-wrapper {
  max-width: 540px;
  width: 100%;
  margin-right: 104px;
  .search-bar {
    position: relative;
    z-index: 9;
    input {
      background-color: $SeachbarBG;
      border: 0;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      width: 100%;
      padding: 8.5px 35px 8.5px 10px;
      caret-color: $MeridaBlue;
      color: $ESRPBlue;
    }
    .header-search-icon {
      position: absolute;
      top: 4px;
      right: 7px;
      z-index: 9;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg {
      }
    }
  }
}

.header-menu-wrapper {
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      position: relative;
      &:not(:first-child) {
        margin-left: 64px;
      }
      a {
        line-height: 24px;
        text-decoration: none;
        color: $HeaderMenuLink;
        padding: 0 10px;
        position: relative;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        display: block;
        line-height: 24px;

        &::before {
          position: absolute;
          content: "";
          width: 0;
          height: 3px;
          background-color: $ESRPBlue;
          bottom: -17px;
          left: 0;
          right: 0;
          margin: 0 auto;
          transition: $transition;
          -webkit-transition: $transition;
          -moz-transition: $transition;
          -ms-transition: $transition;
          -o-transition: $transition;
        }
      }
      &:hover,
      &.active {
        a {
          color: $Black;

          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}

.header-user-wrapper {
  margin-left: auto;
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      &:not(:first-child) {
        margin-left: 26px;
      }
      a {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 100%;
          path {
            transition: $transition;
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -ms-transition: $transition;
            -o-transition: $transition;
          }
        }
        &:hover {
          path {
            fill: $ESRPBlue;
          }
        }
      }
    }
  }
}

.map-container {
  height: calc(100vh - 97px);
}
.mapboxgl-control-container {
  display: none;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

// FOOTER ***************
.site-footer {
  padding: 11px 67px;
  background-color: $white;
  position: fixed;
  bottom: 0;
  left: 0;
  // width: calc(100% - 100px);
  width: 100%;
  margin-left: auto;
  right: 0;
  z-index: 9999;

  a,
  label {
    display: block;
    margin: 0;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    font-weight: 700;
    text-transform: uppercase;
    color: $PurpleBlue;
    text-decoration: none;
  }
  label {
    text-align: right;
  }
}

// SIDEBAR ***************
.side-bar {
  position: fixed;
  left: 0;
  width: 100px;
  background-color: $white;
  top: 0;
  height: 100vh;

  .side-bar-inner {
    padding: 27px 0 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-items: center;
    height: 100%;
    overflow-y: auto;

    & > div {
      flex: 0 0 100%;
      width: 100%;
    }
  }
}
.site-logo {
  width: 100%;
  a {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.side-bar-menu {
  padding-top: 35px;
  margin: auto 0;
  ul {
    li {
      &:not(:first-child) {
        margin-top: 50px;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 6px;
          height: 50px;
          background-color: $ESRPBlue;
          bottom: 0;
          top: 0;
          margin: auto 0;
          left: 0;
          transition: $transition;
          -webkit-transition: $transition;
          -moz-transition: $transition;
          -ms-transition: $transition;
          -o-transition: $transition;
          border-radius: 0 20px 20px 0;
          -webkit-border-radius: 0 20px 20px 0;
          -moz-border-radius: 0 20px 20px 0;
          -ms-border-radius: 0 20px 20px 0;
          -o-border-radius: 0 20px 20px 0;
          opacity: 0;
        }
        path {
          transition: $transition;
          -webkit-transition: $transition;
          -moz-transition: $transition;
          -ms-transition: $transition;
          -o-transition: $transition;
        }
      }
      &:hover,
      &.active {
        a {
          path {
            fill: $ESRPBlue;
          }
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}
.side-bar-profile {
  padding-top: 35px;
  margin-top: auto;
  .profile {
    a {
      display: block;
      height: 58px;
      width: 58px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        border-radius: 21px;
        -webkit-border-radius: 21px;
        -moz-border-radius: 21px;
        -ms-border-radius: 21px;
        -o-border-radius: 21px;
        object-fit: cover;
      }
    }
  }
  .notification {
    padding-top: 30px;
    a {
      display: block;
      position: relative;
      max-width: 32px;
      margin: 0 auto;
      &.has-notification {
        &::before {
          position: absolute;
          content: "";
          width: 7px;
          height: 7px;
          background-color: $Red;
          top: 0;
          right: 2px;
          border-radius: 100px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          -o-border-radius: 100px;
          box-shadow: 0 0 0 4px $white;
        }
      }
      svg {
        path {
        }
      }
    }
  }
}

// MAP CONTROLS  ***************

.map-control-wrapper {
  margin-left: 300px;
  .map-control-item {
    background-color: $white;
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 10px 80px #9072d569;
    width: 46px;

    &:not(:first-child) {
      margin-top: 14px;
    }

    li {
      a {
        width: 100%;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        path {
          transition: $transition;
          -webkit-transition: $transition;
          -moz-transition: $transition;
          -ms-transition: $transition;
          -o-transition: $transition;
        }

        &:hover {
          background-color: $ESRPBlue;
          path {
            fill: $white;
          }
        }
      }
    }
  }
}

// MAP DISTANCE ***************
.map-distance-wrapper {
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: $white;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0 10px 80px #9072d569;
  }
  li {
    &:not(:first-child) {
      margin-left: 20px;
    }
    a {
      padding: 8px 8px;
      min-width: 53px;
      text-align: center;
      display: inline-block;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      font-size: 13px;
      letter-spacing: -0.2px;
      line-height: normal;
      cursor: pointer;
      transition: $transition;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -ms-transition: $transition;
      -o-transition: $transition;
    }
    &:hover,
    &.active {
      a {
        background-color: $ESRPBlue;
        color: $white;
      }
    }
  }
}

.site-inner-content {
  // padding: 25px;
}

// CARD ***************

.card {
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  .card-body {
    padding: 20px 30px;
  }
}

// LOADING SCREEN ***************
.loading-sec {
  background-color: $ESRPLoading;
  height: calc(100vh - 97px);
  padding: 0 15px;
  .loading-content-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.loading-content {
  max-width: 763px;
  width: 100%;

  .img {
    max-width: 384px;
    margin: 0 auto;
    margin-bottom: 56px;
    img {
      width: 100%;
      height: auto;
    }
    .light {
      display: none;
    }
  }
  .progress-bar-wrapper {
    text-align: center;
    span {
      font-size: 20px;
      line-height: 32px;
      color: $white;
    }
  }
  .progress {
    position: relative;
    margin: 0 auto;
    margin-bottom: 12px;

    .progress-bar {
      height: 14px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      position: relative;
      z-index: 9;
      background-image: linear-gradient(270deg, #7fc6b3, #5d87c1);
      transition: $transition;
      -webkit-transition: $transition;
      -moz-transition: $transition;
      -ms-transition: $transition;
      -o-transition: $transition;
    }

    .progress-bar-back {
      width: 100%;
      height: 9.33px;
      background-color: $SeachbarBG;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
}

.has-sidebar {
  max-width: calc(100% - 100px);
  margin-left: auto;
}

.btn,
.btn-icon {
  margin-right: 10px;
}
