.btn {
    display: inline-block;
    min-width: 173px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.44px;
    padding: 13px 10px;
    cursor: pointer;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #fff;
    border: 2px solid transparent;
    text-align: center;
    font-family: "Montserrat";

    svg {
        vertical-align: middle;
        margin-left: 20px;
        path {
            transition: $transition;
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -ms-transition: $transition;
            -o-transition: $transition;
        }
    }

    &.primary {
        background-color: $ESRPBlue;
        color: $White;
        border-color: $ESRPBlue;
        path {
            fill: $White;
        }

        &:hover {
            background-color: $NewESRPBlue;
            border-color: $NewESRPBlue;
        }
        &.rounded {
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            -o-border-radius: 100px;
        }
        &:disabled {
            background-color: $BtnDisabled;
            color: $BtnDisabledText;
            border-color: $BtnDisabled;
            cursor: not-allowed;

            path {
                fill: $BtnDisabledText;
            }
        }
    }

    &.outline {
        background-color: transparent;
        color: $ESRPBlue;
        border-color: $ESRPBlue;

        path {
            fill: $ESRPBlue;
        }

        &:hover {
            background-color: transparent;
            border-color: $NewESRPBlue;
            color: $NewESRPBlue;

            path {
                fill: $NewESRPBlue;
            }
        }
        &:disabled {
            border-color: $BtnDisabled;
            color: $BtnDisabledText;
            cursor: not-allowed;

            path {
                fill: $BtnDisabledText;
            }
        }
        &.rounded {
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            -o-border-radius: 100px;
        }
    }
}

.btn-icon {
    display: inline-block;
    min-width: 46px;
    font-size: 14px;
    padding: 13px 10px;
    cursor: pointer;
    text-align: center;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #fff;
    border: 2px solid transparent;

    svg {
        vertical-align: middle;
        path {
            transition: $transition;
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -ms-transition: $transition;
            -o-transition: $transition;
        }
    }

    &.primary {
        background-color: $ESRPBlue;
        color: $White;
        border-color: $ESRPBlue;
        path {
            fill: $White;
        }

        &:hover {
            background-color: $NewESRPBlue;
            border-color: $NewESRPBlue;
        }
        &:disabled {
            background-color: $BtnDisabled;
            color: $BtnDisabledText;
            border-color: $BtnDisabled;
            cursor: not-allowed;

            path {
                fill: $BtnDisabledText;
            }
        }
        &.rounded {
            min-width: 46px;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            -o-border-radius: 100px;
        }
    }
    &.outline {
        background-color: transparent;
        color: $ESRPBlue;
        border-color: $ESRPBlue;

        path {
            fill: $ESRPBlue;
        }

        &:hover {
            background-color: transparent;
            border-color: $NewESRPBlue;
            color: $NewESRPBlue;

            path {
                fill: $NewESRPBlue;
            }
        }
        &:disabled {
            border-color: $BtnDisabled;
            color: $BtnDisabledText;
            cursor: not-allowed;

            path {
                fill: $BtnDisabledText;
            }
        }
        &.rounded {
            min-width: 46px;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            -o-border-radius: 100px;
        }
    }
}

// DARK THEME ----------------------------------

#{$dark-theme} {
    .btn {
        color: $ESRPBlue;
        background-color: $BodyBgDark;
        path {
            // stroke: $ESRPBlue;
        }
        &.primary {
            background-color: $ESRPBlue;
            border-color: $ESRPBlue;
            color: $Black;
            &:hover {
                background-color: $NewESRPBlue;
                border-color: $NewESRPBlue;
                color: $White;
            }
            &:disabled {
                background-color: $btnDarkDisable;
                border-color: $btnDarkDisable;
                color: $BtnDisabledText;
                path {
                    // fill: $BtnDisabledText;
                }
                &:hover {
                    background-color: $btnDarkDisable;
                    border-color: $btnDarkDisable;
                    color: $BtnDisabledText;
                }
            }
        }
        &.outline {
            border-color: $ESRPBlue;
            color: $ESRPBlue;
            background-color: transparent;
            path {
                // fill: $ESRPBlue;
            }
            &:hover {
                border-color: $NewESRPBlue;
                color: $NewESRPBlue;
                background-color: transparent;
                path {
                    // fill: $NewESRPBlue;
                }
            }
            &:disabled {
                border-color: $btnDarkDisable;
                color: $BtnDisabledText;
                path {
                    // fill: $BtnDisabledText;
                }
                &:hover {
                    border-color: $btnDarkDisable;
                    color: $BtnDisabledText;
                }
            }
        }
    }

    .btn-icon {
        color: $ESRPBlue;
        background-color: $BodyBgDark;
        path {
            // stroke: $ESRPBlue;
        }
        &.primary {
            background-color: $ESRPBlue;
            border-color: $ESRPBlue;
            &:hover {
                background-color: $NewESRPBlue;
                border-color: $NewESRPBlue;
            }
            &:disabled {
                background-color: $btnDarkDisable;
                border-color: $btnDarkDisable;
                path {
                    // fill: $BtnDisabledText;
                }
                &:hover {
                    background-color: $btnDarkDisable;
                    border-color: $btnDarkDisable;
                }
            }
        }
        &.outline {
            border-color: $ESRPBlue;
            background-color: transparent;
            path {
                // fill: $ESRPBlue;
            }
            &:hover {
                border-color: $NewESRPBlue;
                path {
                    // fill: $NewESRPBlue;
                }
            }
            &:disabled {
                border-color: $btnDarkDisable;
                path {
                    // fill: $BtnDisabledText;
                }
                &:hover {
                    border-color: $btnDarkDisable;
                }
            }
        }
    }
}
