@import "../../sass/variables.scss";

.theme-change-wrapper {
    position: fixed;
    right: -95px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    display: flex;
    align-items: flex-start;
    z-index: 99999;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &.active {
        right: 0;
    }

    .theme-click-icon {
        width: 50px;
        height: 50px;
        padding: 8px;
        overflow: hidden;
        background-color: #fff;
        border-radius: 10px 0 0 10px;
        -webkit-border-radius: 10px 0 0 10px;
        -moz-border-radius: 10px 0 0 10px;
        -ms-border-radius: 10px 0 0 10px;
        -o-border-radius: 10px 0 0 10px;
        cursor: pointer;
        a {
            width: 100%;
            height: 100%;
            display: block;
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
    ul {
        background-color: $white;
        padding: 10px;
        border-radius: 0 0 0 10px;
        -webkit-border-radius: 0 0 0 10px;
        -moz-border-radius: 0 0 0 10px;
        -ms-border-radius: 0 0 0 10px;
        -o-border-radius: 0 0 0 10px;
        overflow: hidden;
        li {
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                line-height: 32px;
                cursor: pointer;
            }
            span {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                -ms-border-radius: 100px;
                -o-border-radius: 100px;
                cursor: pointer;
                &.esrp {
                    background-color: $ESRPBlue;
                }
                &.light {
                    background-color: $SeachbarBG;
                }
                &.dark {
                    background-color: $BlueishBlack-Dark;
                }
            }
            label {
                text-transform: uppercase;
                font-size: 14px;
                margin-left: 10px;
                color: $BlueishBlack;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}
