.version-2{
    .map-container{
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .col{
        z-index: 9;
        position: relative;
        &:empty{
            pointer-events: none;
        }
    }
    .map-card{
        height: 100%;
    }
}