@import "../../sass/variables.scss";

.loading-sec {
    background-color: $ESRPLoading;
    height: calc(100vh - 97px);
    padding: 0 15px;
    .loading-content-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.loading-content {
    max-width: 763px;
    width: 100%;

    .img {
        max-width: 384px;
        margin: 0 auto;
        margin-bottom: 56px;
        img {
            width: 100%;
            height: auto;
        }
        .light {
            display: none;
        }
    }
    .progress-bar-wrapper {
        text-align: center;
        span {
            font-size: 20px;
            line-height: 32px;
            color: $white;
        }
    }
    .progress {
        position: relative;
        margin: 0 auto;
        margin-bottom: 12px;

        .progress-bar {
            height: 14px;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            -o-border-radius: 100px;
            position: relative;
            z-index: 9;
            background-image: linear-gradient(270deg, #7fc6b3, #5d87c1);
            transition: $transition;
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -ms-transition: $transition;
            -o-transition: $transition;
        }

        .progress-bar-back {
            width: 100%;
            height: 9.33px;
            background-color: $SeachbarBG;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            -o-border-radius: 100px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
        }
    }
}

// DARK THEME ----------------------------------
#{$dark-theme} {
    .loading-sec {
        background-color: $DarkLoading;
    }
    .loading-content {
        .progress-bar-wrapper {
            span {
                color: $white;
            }
        }
    }
}


// LIGHT THEME ----------------------------------

#{$light-theme} {
    .loading-sec {
        background-color: $LightLoading;
    }
    .loading-content {
        .img {
            .dark {
                display: none;
            }
            .light {
                display: block;
            }
        }
        .progress-bar-wrapper {
            span {
                color: $Black;
            }
        }
    }
}
