@import '../../../sass/variables.scss';

.informer-card{
    min-width: 290px;
    width: fit-content;
    .card-title{
        label{
            display: block;
        }
    }
    .card-price{
        h4{
            margin: 0;
            font-weight: 500;
            line-height: 44px;
            span{
                font-weight: 500;
                line-height: 20px;
                font-size: 14px;
                letter-spacing: 0.44px;
                display: inline-block;
                margin-left: 6px;
                font-family: "Montserrat", sans-serif;
            }
            .up{
                color: $Green;
            }
            .down{
                color: $Red;
            }
        }
    }
    .summary{
        label{
            display: block;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.44px;
            color: $BlueishBlack;
            opacity: 0.6;
            font-weight: 500;
        }
    }
}